
out/
*.user
*.lock.json

**/bin/
**/obj/
**/playwright-report/
**/test-results/

# Playwright + npm
**/playwright/.cache/
**/Playwright/.cache/
node_modules/
tests/bin/

# VScode, Rider, ReSharper, etc.
.vs/
.idea/

# git и CI
.git/
.gitignore
.github/

# Docker-файлы, compose, ZIP-архивы, скриншоты
docker/
*.zip
*.tgz
